.JobInfoComponent__container{
    display: grid;
    grid-template-columns: 8.75rem 2fr 1fr;

  margin:-4rem 15rem 0 15rem;
  height:140px;
  min-width:510px;

  position: relative;



    
}
.company-name{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.jobinfo-details{
    display: grid;
    gap:0.7rem;
    padding:2rem;
    background-color: white;
   /* position: relative;*/
    
}
.company-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  
}
.company-link button{
    padding:1rem 3rem;
    color:#5964E0;
    background-color:#F2F2F2;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-right:0.6rem;

}
.company-title{
    font-weight: 700;
    font-size: 1.5rem;
    
}
.company-site{
    color: #6E8098;
    font-weight:400;
}

.container-jobinfo{
    max-width: 520px;
    background-color: #5964E0;
}
.jobinfo__logo__container{
    background-color:gray;
    position:absolute;
   top:-60px;
    left:45%;
    padding:1rem 0.5rem;
    max-width: 50px;
    width:50px;
    height:50px;
    max-height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}

/*
@media (max-width: 600px) {
.JobInfoComponent__container{
    margin:-4rem 2rem 0 2rem;
    grid-template-columns: 1.4fr 1fr 1fr;


}


}
*/


    @media (max-width: 600px) {
        .JobInfoComponent__container{
            margin-left:2rem;
            margin-right: 2rem;
            
    
            
        }
        }
    
@media (min-width: 601px) and (max-width: 1024px) {
    .JobInfoComponent__container{
        margin:-4rem 2rem 0 2rem;
        grid-template-columns: 1fr 2fr 1fr;
    
    }
    .company-link button{
        margin-right:0.6rem;
        padding:1rem;
        font-size:1rem;
    }
  }


 
  @media (max-device-width: 600px){
 
  
    .JobInfoComponent__container{
        margin:0 2rem 5rem 2rem;
       display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        
       

    
    }
   
    .jobinfo__logo__container{
    
        width:100%;
        display: flex;
        
        
    }

    .company-link button{
        margin-right:1rem;
        margin-bottom: 2rem;
        
  
    }
    .company-name{
        flex:1;
        display: none;
       
        
    }
    .company-title{
        display: flex;
        justify-content: center;
    }
    .company-site{
        display: flex;
        justify-content: center;
    }


}
