*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  padding:2rem 9rem;
  margin:-4rem;
  

  
  
}
body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #F2F2F2;
}

Link{
  text-decoration: none;
}